{{- if .Values.extraSecrets -}}
{{- $name := include "base-service.name" . -}}
{{- /* Prefer extraEnvSource over appName */ -}}
{{- $appName := default (include "base-service.appName" .) .Values.extraEnvSource -}}
{{- $stage := .Values.stage -}}
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: {{ include "base-service.name" . }}
  labels:
    {{- include "base-service.labels" . | nindent 4 }}
  annotations:
    # Make sure this is created for the database migrations
    "helm.sh/hook": "pre-install,pre-upgrade"
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: cluster-secret-store
    kind: ClusterSecretStore
  target:
    name: {{ include "base-service.name" . }}
    creationPolicy: Owner
  data:
    {{- range .Values.extraSecrets }}
    - secretKey: {{ . }}
      remoteRef:
        key: "/{{ $stage }}/{{ $appName }}/{{ . }}"
    {{- end }}
{{- end }}