{{- if and (.Values.serviceAccount.enabled) (not .Values.serviceAccount.existingName) -}}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ .Values.serviceAccount.name | default (include "base-service.name" .) }}
  {{- if .Values.serviceAccount.namespace }}
  namespace: {{ .Values.serviceAccount.namespace }}
  {{- end }}
  labels:
    {{- include "base-service.labels" . | nindent 4 }}
    base-service-component: {{ include "base-service.name" . | quote }}
  {{- $extraAnnotations := .Values.serviceAccount.annotations }}
  {{- $iamRole := .Values.serviceAccount.iamRole }}
  {{- if or $extraAnnotations $iamRole }}
  annotations:
    {{- if $iamRole }}
    eks.amazonaws.com/role-arn: {{ $iamRole }}
    eks.amazonaws.com/sts-regional-endpoints: "true"
    {{- end }}
    {{- if $extraAnnotations }}
    {{- toYaml $extraAnnotations | nindent 4 }}
    {{- end }}
  {{- end }}
{{- end }}