{{- range .Values.vaultSecrets }}
apiVersion: secrets.hashicorp.com/v1beta1
kind: VaultAuth
metadata:
  name: {{ printf "%s-%s" (include "base-service.name" $) .name }}
  namespace: {{ $.Release.Namespace }}
  annotations:
    argocd.argoproj.io/hook: Sync
    argocd.argoproj.io/hook-delete-policy: BeforeHookCreation
    argocd.argoproj.io/sync-wave: "-1"
spec:
  method: kubernetes
  mount: {{ .mount | default (printf "kubernetes_kotini_%s" $.Values.environment) }}
  kubernetes:
    role: {{ include "base-service.name" $ }}
    serviceAccount: {{ include "base-service.name" $ }}
    audiences:
      - vault
    tokenExpirationSeconds: {{ .tokenExpirationSeconds | default 600 }}
apiVersion: secrets.hashicorp.com/v1beta1
kind: VaultStaticSecret
metadata:
  name: {{ printf "%s-%s" (include "base-service.name" $) .name }}
  namespace: {{ $.Release.Namespace }}
  annotations:
    argocd.argoproj.io/hook: Sync
    argocd.argoproj.io/hook-delete-policy: BeforeHookCreation
    argocd.argoproj.io/sync-wave: "-1"
spec:
  type: kv-v2
  mount: {{ .mount | default "kv" }}
  path: {{ .path }}
  vaultAuthRef: {{ printf "%s-%s" (include "base-service.name" $) .name }}
  serviceAccountRef:
    name: {{ include "base-service.name" $ }}
  destination:
    name: {{ .name }}
    create: true
{{- end }}